<!-- <div class="row">
  <div class="col-md-6"> <h1>Weather in your city</h1> </div>
  <div class="col-md-6"> 
    <div class="row">
      <div class="col-md-6">
        <input type="text" class="form-control" #city (keyup.enter)="onCityEnter(city.value)">
      </div>
      <div class="col-md-6">
        <button class="btn btn-primary">Search</button>
      </div>  
    </div>
  </div>
    
</div> -->

<div class="searchc">
  <div class="searchtest">Weather in your city</div>
  <div class="btninput">
      <input  [(ngModel)]="city" placeholder="city"  class="input">
      <button class="btnsearch" (click)="onCityEnter()">  Search</button>
      <img src="../../assets/load-loading.gif" alt="" class="linmg" >
  </div>
</div>


<div *ngIf="weatherData.length!=0">
  <div class="container text-center">
    <div class="weathertable">
      <div  *ngFor="let w of weatherData">

        <div>
          <div class="date"> Date:{{w.date}}</div>
          <div class="gary border-b p10"> Temperature : {{w.temp}}</div>
          <div class="gary sidebyside">
              <div class="p10 order-r">Min</div>
              <div class="p10">Max</div>
          </div>
      
          <div class="sidebyside">
              <div class="border-r p10">{{w.temp_min}}</div>
              <div class="p10">{{w.temp_max}}</div>
          </div>
          <div class="sidebyside">
              <div class="border-r p10">Pressure</div>
              <div class="p10">{{w.pressure}} </div>
          </div>
          <div class="sidebyside">
              <div class="border-r p10">Humidity</div>
              <div class="p10">{{w.humidity}}</div>
          </div>
      
      </div>


        <!-- <table class="table table-bordered">
          <tbody>
            <tr class="table-active">
             Date:{{w.date}}
            </tr>
            <tr>
              Temperature : {{w.temp}}
            </tr>
            <tr>
              <td colspan="2">Min</td>
              <td>Max</td>
            </tr>
            <tr>
              <td colspan="2">{{w.temp_min}}</td>
              <td>{{w.temp_max}}</td>
            </tr>
            <tr>
              <td colspan="2">Pressure</td>
              <td>{{w.pressure}}</td>
            </tr>
            <tr>
              <td colspan="2">Humidity</td>
              <td>{{w.humidity}}</td>
            </tr>
          </tbody>
        </table> -->
      </div>
    </div>

  </div>

</div>