<div class="searchc">
  <div class="searchtest">Weather in your city</div>
  <div class="btninput">
      <input  [(ngModel)]="city" placeholder="city"  class="input">
      <button class="btnsearch" (click)="onCityEnter()">  Search</button>
      <img src="../../assets/load-loading.gif" alt="" class="linmg" *ngIf="loading" >
  </div>
</div>


<div *ngIf="weatherData.length!=0">
  <div class="container text-center">
    <div class="weathertable">
      <div  *ngFor="let w of weatherData">

        <div>
          <div class="date"> Date:{{w.date}}</div>
          <div class="gary border-b p10"> Temperature : {{w.temp}}</div>
          <div class="gary sidebyside">
              <div class="p10 order-r">Min</div>
              <div class="p10">Max</div>
          </div>
      
          <div class="sidebyside">
              <div class="border-r p10">{{w.temp_min}}</div>
              <div class="p10">{{w.temp_max}}</div>
          </div>
          <div class="sidebyside">
              <div class="border-r p10">Pressure</div>
              <div class="p10">{{w.pressure}} </div>
          </div>
          <div class="sidebyside">
              <div class="border-r p10">Humidity</div>
              <div class="p10">{{w.humidity}}</div>
          </div>
      
      </div>


      </div>
    </div>

  </div>

</div>